fastapi
uvicorn
python-telegram-bot
sentence-transformers
faiss-cpu
requests
langchain
langchain-classic
langchain-community
langchain-text-splitters
langchain-core
langchain-ollama
langchain-groq
flashrank
ragas
langchain_experimental
nltk
contractions
bs4
pypdf
sqlite-vec
fastapi[standard]
gradio
python-dotenv